<div class="container">
  <form  #coordinateForm="ngForm">
    <div class="form-group">
      <label for="latitude">Latitude</label>
      <input type="text" class="form-control" id="latitude"
             required
             [(ngModel)]="weatherService.lat" name="latitude"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Latitude is required!
      </div>
    </div>
    <div class="form-group">
      <label for="longitude">Longitude</label>
      <input type="text" class="form-control" id="longitude"
             required
             [(ngModel)]="weatherService.lng" name="longitude"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Longitude is required!
      </div>
    </div>
    <a href="https://maps.google.com" target="_blank" rel="noopener noreferrer">View Google Maps for Coordinates</a>

    <button type="submit" class="btn btn-success"
            (click)="weatherService.getData(weatherService.lat, weatherService.lng)"
            [disabled]="!coordinateForm.form.valid">Apply
    </button>
  </form>
</div>
