<div class="container">
  <form #newsForm="ngForm">
    <div class="form-group">
      <label for="newsSize">Font Size</label>
      <input type="number" class="form-control" id="newsSize" step="0.25"
             required
             [(ngModel)]="formatService.newsFontSize" name="newsSize"
             #name="ngModel">
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <select class="form-control" id="country"
              required
              [(ngModel)]="newsService.country" name="country"
              #country="ngModel">
        <option *ngFor="let country of newsService.posCountries" [value]="country">{{country}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success"
            (click)="newsService.getData(newsService.country)"
            >Apply
    </button>
  </form>
</div>
