<button (click)="logWeather()">
  getWeather
</button>
<div class="row mx-auto">
  <h1 [ngClass]="{
  hot: weatherData?.currently.temperature >= 25,
  cold: weatherData?.currently.temperature <= 17,
  warm: weatherData?.currently.temperature > 17 && weatherData?.currently.temperature < 25 }">
    {{weatherData?.currently.temperature | number:'1.1-1'}}°
  </h1>
</div>
<div class="row mx-auto">
  <p>{{weatherData?.currently.summary}}</p>
</div>
<div class="row mx-auto">
  <h4 [ngClass]="{
  hot: weatherData?.currently.apparentTemperature >= 25,
  cold: weatherData?.currently.apparentTemperature <= 17,
  warm: weatherData?.currently.apparentTemperature > 17 && weatherData?.currently.apparentTemperature < 25 }">
    {{weatherData?.currently.apparentTemperature | number:'1.1-1'}}°</h4>
</div>

<div class="row mx-auto">
  <p>Humidity: {{weatherData?.currently.humidity}}</p>
</div>
<div class="row mx-auto">
  <p>UV Index: {{weatherData?.currently.uvIndex}}</p>
</div>
<div class="row mx-auto">
  <p>Wind Speed: {{weatherData?.currently.windSpeed}}</p>
</div>










<!--
<div class="icon sun-shower">
<div class="cloud"></div>
<div class="sun">
  <div class="rays"></div>
</div>
<div class="rain"></div>
</div>

<div class="icon thunder-storm">
<div class="cloud"></div>
<div class="lightning">
  <div class="bolt"></div>
  <div class="bolt"></div>
</div>
</div>

<div class="icon cloudy">
<div class="cloud"></div>
<div class="cloud"></div>
</div>

<div class="icon flurries">
<div class="cloud"></div>
<div class="snow">
  <div class="flake"></div>
  <div class="flake"></div>
</div>
</div>

<div class="icon sunny">
<div class="sun">
  <div class="rays"></div>
</div>
</div>

<div class="icon rainy">
<div class="cloud"></div>
<div class="rain"></div>
</div>
-->
