<div class="container major">
  <form #clockForm="ngForm">
    <div class="form-group">
      <label for="dateSize" translate>DateConf.fontSize</label>
      <input type="number" class="form-control" id="dateSize" step="0.25"
             required
             [(ngModel)]="formatService.dateFontSize" name="dateSize"
             #name="ngModel">
    </div>
    <div class="form-group">
      <label for="formatDateMonth" translate>DateConf.dateMonthFormat</label>
      <select class="form-control" id="formatDateMonth"
              required
              [(ngModel)]="formatService.formatDateMonth" name="formatDateMonth"
              #name="ngModel">
        <option *ngFor="let format of formatService.posDateMonthFormats" [value]="format">{{format}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="formatDateDay" translate>DateConf.dateDayFormat</label>
      <select class="form-control" id="formatDateDay"
              required
              [(ngModel)]="formatService.formatDateDay" name="formatDateDay"
              #name="ngModel">
        <option *ngFor="let format of formatService.posDateDayFormats" [value]="format">{{format}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="formatDate" translate>DateConf.dateFormat</label>
      <select class="form-control" id="formatDate"
              required
              [(ngModel)]="formatService.formatDate" name="formatDate"
              #name="ngModel">
        <option *ngFor="let format of formatService.posDateFormats" [value]="format">{{format}}</option>
      </select>
    </div>
  </form>
</div>
