<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="my-4" translate> AboutPage.headline
      </h1>
      <h2>
        <small translate>AboutPage.subline</small>
      </h2>
      <p translate>AboutPage.projectDescription</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h3 class="my-4" translate>AboutPage.projectMember</h3>
    </div>

    <div class="col-lg-4 col-sm-6 text-center mb-4" *ngFor="let member of configService.projectMembers">
      <img class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png">
      <h4>{{member.name}}
        <small>{{member.role}}</small>
      </h4>
      <p>{{member.info}}</p>
    </div>

    <div class="col-lg-4 col-sm-6 text-center mb-4" *ngIf="configService.projectMembers.length === 0">
      <img class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png">
      <h4 translate>AboutPage.placeholderName
        <small translate>AboutPage.placeholderRole</small>
      </h4>
      <a class="nav-link" [routerLink]="['/config']" translate>AboutPage.addNewMember</a>
    </div>


  </div>
</div>


<footer class="py-5 bg-light">
  <div class="container">
    <p class="m-0 text-center">Weather Feature powered by <a href="https://darksky.net/dev" target="_blank" rel="noopener noreferrer">Dark Sky</a></p>
    <p class="m-0 text-center">News Feature powered by <a href="https://newsapi.org" target="_blank" rel="noopener noreferrer">NewsAPI.org</a></p>
  </div>
  <!-- /.container -->
</footer>
