<!--ToDo: Übersetzen-->
<!--ToDo: Bilder einfügen-->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="my-4">Techniker Projekt SmartMirror
      </h1>
      <h2>
        <small>von Lukas Müller für TEUTLOFF® Technische Akademie gGmbH</small>
      </h2>
      <p>Im Fokus dieser Projektarbeit soll die Entwicklung einer Frontend-Applikation für einen Smart Mirror stehen. Diese soll im Kern mit der Auszeichnungssprache HTML, im Design mit der Stylesheet Sprache CSS und in der Funktionalität in der Skriptsprache JavaScript entwickelt werden. Diese Applikation soll im Rahmen der Projektarbeit prototyphaft auf einem Raspberry-PI 3 implementiert werden. (Details siehe Projektbeschreibung)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h3 class="my-4">Projektmitglieder</h3>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
      <h4>Lukas Müller
        <small>Entwickler</small>
      </h4>
      <p>T-Systems International System Engineer IoT Platform Integration</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
      <h4>Phillip Wolter
        <small>Betreuungsdozent</small>
      </h4>
      <a>phillip.wolter@teutloff-bs.de</a>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
      <h4>Carolin Hannemann
        <small>Zweitprüferin</small>
      </h4>
      <a>carolin.hannemann@teutloff-bs.de</a>
    </div>
  </div>
</div>
