<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!viewModeService.viewMode">
  <div class="container">
    <button class="btn btn-light" (click)="viewModeService.changeViewMode(true)">Enter View Mode</button>
    <!--Navbar left Content-->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a></li>
      </ul>
    </div>
    <!--Navbar right content-->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Control <span class="caret"></span></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/config']"><i class="fa fa-cogs" aria-hidden="true"></i> Configuration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="featureService.setDefaultPositions()"><i class="fa fa-window-restore" aria-hidden="true"></i> Set default positions</a>
          <a class="dropdown-item" (click)="featureService.savePosition()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save custom positions</a>
          <a class="dropdown-item" [ngClass]="{'disabled':featureService.savedPositions.length === 0}" (click)="featureService.arrangeWithSavedPositions()"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Apply custom positions</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<i class="fa fa-sign-out" *ngIf="viewModeService.viewMode" (click)="viewModeService.changeViewMode(false)"></i>



