.fa-sign-out {
  cursor: pointer;
  opacity: 0.3;
  color: grey;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item-text {
  cursor: default;
}

.disabled {
  pointer-events: none;
  color: gray !important;
}

.APIWarning {
  color: red;
}
