<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!viewModeService.viewMode">
  <div class="container">
    <!-- Navbar left Content -->
    <button class="btn btn-light" [disabled]="router.url !== '/dashboard'"
            (click)="viewModeService.changeViewMode(true)" translate><i class="fa fa-sign-in"
                                                                        aria-hidden="true"></i> NavBar.viewMode
    </button>
    <!-- Add Feature Dropdown -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <button class="btn btn-light dropdown-toggle" [disabled]="router.url !== '/dashboard'" data-toggle="dropdown"
                role="button" aria-haspopup="true"
                aria-expanded="false" translate><i class="fa fa-plus" aria-hidden="true"></i> NavBar.addFeature
        </button>
        <div class="dropdown-menu" aria-labelledby="addDropdown">
          <div *ngFor="let feature of featureService.featureList">
            <div class="dropdown-item"
                 *ngIf="!feature.shown"
                 [ngClass]="{'disabled':
                 (configService.darkSkyAPIKey.length === 0 && (feature.name === 'weather' || feature.name === 'weather-forecast-hourly' || feature.name === 'weather-forecast-weekly'))
                  || (configService.newsAPIKey.length === 0 && feature.name === 'news')}"
                 (click)="feature.shown = !feature.shown">
              {{'FeatureList.' + feature.name | translate }}
              <span class="APIWarning" *ngIf="(configService.darkSkyAPIKey.length === 0 && (feature.name === 'weather' || feature.name === 'weather-forecast-hourly' || feature.name === 'weather-forecast-weekly'))
                  || (configService.newsAPIKey.length === 0 && feature.name === 'news')"
                    translate> NavBar.APIWarning</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!--Navbar right content-->
    <ul class="navbar-nav ml-auto">
      <!-- Dashboard Link -->
      <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/dashboard']"><i
        class="fa fa-th-large" aria-hidden="true"></i> Dashboard</a></li>
      <!-- About Link -->
      <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/about']"><i
        class="fa fa-info-circle" aria-hidden="true"></i> About</a>
      </li>
      <!-- Config Dropdown -->
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false"><i class="fa fa-cogs" aria-hidden="true"></i> Control <span class="caret"></span></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/config']"><i class="fa fa-cogs"
                                                                                                 aria-hidden="true"></i>
            Configuration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [ngClass]="{'disabled':router.url !== '/dashboard'}"
             (click)="featureService.setDefaultPositions()" translate><i class="fa fa-window-restore"
                                                                         aria-hidden="true"></i>
            NavBar.setDefaultPositions</a>
          <a class="dropdown-item" [ngClass]="{'disabled':router.url !== '/dashboard'}"
             (click)="featureService.savePosition()" translate><i class="fa fa-floppy-o"
                                                                  aria-hidden="true"></i> NavBar.saveCustomPositions</a>
          <a class="dropdown-item"
             [ngClass]="{'disabled':featureService.savedPositions.length === 0 || router.url !== '/dashboard'}"
             (click)="featureService.arrangeWithSavedPositions()" translate><i class="fa fa-bookmark-o"
                                                                               aria-hidden="true"></i>
            NavBar.applyCustomPositions</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- Exit View Mode -->
<i class="fa fa-sign-out" *ngIf="viewModeService.viewMode" (click)="viewModeService.changeViewMode(false)"></i>



