<div class="container" *ngFor="let feature of localFeatureList">
  <div class="card"
       *ngIf="feature.shown"
       ngDraggable
       [handle]="handler"
       [position]="{x: feature.xPos, y: feature.yPos}"
       (endOffset)="onMoveEnd(feature, $event)"
       [ngClass]="{'border-light': viewModeService.viewMode}">
    <!-- Card Header and Action Items -->
    <div class="card-header" [hidden]="viewModeService.viewMode">
      {{'FeatureList.' + feature.name | translate}}
      <!-- Delete Feature Action -->
      <i (click)="featureService.changeShown(feature.name,false)" class="fa fa-times pull-right" aria-hidden="true"></i>
      <!-- Handler for ngDraggable -->
      <i class="fa fa-arrows-alt pull-right" #handler></i>
      <!-- Configuration Dropdown with Feature Config Components -->
      <div class="dropdown show">
        <a class="pull-right" id="dropdownMenu" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false"><i class="fa fa-cogs pull-right" aria-hidden="true"></i></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
          <div ngSwitch="{{feature.name}}">
            <app-clock-conf *ngSwitchCase="'clock'"></app-clock-conf>
            <app-date-conf *ngSwitchCase="'date'"></app-date-conf>
            <app-weather-conf *ngSwitchCase="'weather'"></app-weather-conf>
            <app-weather-conf *ngSwitchCase="'weather-forecast-hourly'"></app-weather-conf>
            <app-weather-conf *ngSwitchCase="'weather-forecast-weekly'"></app-weather-conf>
            <app-news-conf *ngSwitchCase="'news'"></app-news-conf>
          </div>
        </div>
      </div>
      <!-- Card Body with Feature Components -->
    </div>
    <div class="card-body">
      <div ngSwitch="{{feature.name}}">
        <app-clock *ngSwitchCase="'clock'"></app-clock>
        <app-date *ngSwitchCase="'date'"></app-date>
        <app-weather *ngSwitchCase="'weather'"></app-weather>
        <app-weather-forecast-hourly *ngSwitchCase="'weather-forecast-hourly'"></app-weather-forecast-hourly>
        <app-weather-forecast-weekly *ngSwitchCase="'weather-forecast-weekly'"></app-weather-forecast-weekly>
        <app-news *ngSwitchCase="'news'"></app-news>
      </div>
    </div>
  </div>
</div>

