<div class="container">
    <div class="card"
         *ngFor="let feature of localFeatureList"
         ngDraggable
         [handle]="handler"
         [position]="{x: feature.xPos, y: feature.yPos}"
         (endOffset)="onMoveEnd(feature, $event)"
          [ngClass]="{'border-light': viewModeService.viewMode}">
      <div class="card-header" [hidden]="viewModeService.viewMode">
        {{feature.name}}
          <i class="fa fa-arrows-alt pull-right" #handler ></i>
      </div>
      <div class="card-body">
        <div ngSwitch="{{feature.name}}">
          <app-clock *ngSwitchCase="'clock'"></app-clock>
          <app-date *ngSwitchCase="'date'"></app-date>
          <app-weather *ngSwitchCase="'weather'"></app-weather>
        </div>
      </div>
  </div>
</div>

