.card {
  position: absolute;
}

.fa-arrows-alt {
  cursor: move;
}

.fa-cogs{
  cursor: pointer;
}

.fa-times{
  cursor: pointer;
}

i{
  margin-top: 5px;
  margin-right: 5px;
}

.dropdown {
  display:inline;
}

.card-header{
  background-color: #343a40;
}
