<div class="container major">
  <form #clockForm="ngForm">
    <div class="form-group">
      <label for="clockSize" translate>ClockConf.fontSize</label>
      <input type="number" class="form-control" id="clockSize" step="0.25"
             required
             [(ngModel)]="formatService.clockFontSize" name="clockSize"
             #name="ngModel">
    </div>
    <div class="form-group">
      <label for="formatTime" translate>ClockConf.timeFormat</label>
      <select class="form-control" id="formatTime"
              required
              [(ngModel)]="formatService.formatTime" name="formatTime"
              #power="ngModel">
        <option *ngFor="let format of formatService.posTimeFormats" [value]="format">{{format}}</option>
      </select>
    </div>
    <div class="dropdown-divider"></div>
    <div class="form-group">
      <label for="showSecPart" translate>ClockConf.showSecPart
        <input type="checkbox" [(ngModel)]="formatService.showSecSeperate" id="showSecPart" name="ngModel">
      </label>
    </div>
    <div class="form-group" [hidden]="!formatService.showSecSeperate">
      <label for="formatSec" translate>ClockConf.secPartFormat</label>
      <select class="form-control" id="formatSec"
              required
              [(ngModel)]="formatService.formatSec" name="formatSec"
              #power="ngModel">
        <option *ngFor="let format of formatService.posSecTimeFormats" [value]="format">{{format}}</option>
      </select>
    </div>
  </form>
</div>
