<div class="container">
  <form #clockForm="ngForm">
    <div class="form-group">
      <label for="dateSize">Font Size</label>
      <input type="number" class="form-control" id="dateSize"
             required
             [(ngModel)]="formatService.dateFontSize" name="dateSize"
             #name="ngModel">
    </div>
    <div class="form-group">
      <label for="formatDate">Date Format</label>
      <select class="form-control" id="formatDate"
              required
              [(ngModel)]="formatService.formatDate" name="formatDate"
              #power="ngModel">
        <option *ngFor="let format of formatService.posDateFormats" [value]="format">{{format}}</option>
      </select>
    </div>
  </form>
</div>
